@model Agenda.Models.LinkedList

@{
    ViewData["Title"] = "Contatos";
}

<h1>Contatos</h1>

<div class="row">
    <p class="col-md-3"><a asp-action="Create">Inserir Contato</a></p>
    @if(Model.Head != null && Model.Head.Next != null){
        <p class="col-md-3"><a asp-action="SortName">Ordenar por Nome</a></p>
        <p class="col-md-3"><a asp-action="SortEmail">Ordenar por Email</a></p>
        <p class="col-md-3"><a asp-action="Navigation" asp-route-id="@Model.Id" id="teste">Navegar pelos Contatos</a></p>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head.Before)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head.Next)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{ var aux = Model.Head; }
    @while(aux != null) {
        if(aux.Next == null){break;}
        <tr>
            <td>
                @Html.DisplayFor(modelItem => aux.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Contato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Before)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Next.Id)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@aux.Id">Editar</a> |
                <a asp-action="Remove" asp-route-id="@aux.Id">Excluir</a>
            </td>
        </tr>
        aux = aux.Next;
    }
    </tbody>
</table>
