@model IEnumerable<Agenda.Models.LinkedList>

@{
    ViewData["Title"] = "Index";
}

<h1>Contatos</h1>

<p>
    <a asp-action="Create">Inserir Contato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head.Next)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Head.Contato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Head.Next)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Remove" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
