@model Agenda.Models.Node

@{
    ViewData["Title"] = "Contatos";
}

<h1>Navegando pelos Contatos</h1>

<p>
    <a asp-action="Index">Voltar</a>
</p>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Before)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Next)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{ var aux = Model; }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => aux.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Contato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Before)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Next.Id)
            </td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Navigation" asp-route-id="@aux.Before">Anterior</a>
<a class="btn btn-primary" asp-action="Navigation" asp-route-id="@aux.Next.Id">Próximo</a>

<input type="hidden" value="@aux.Next.Id" id="next">
<input type="hidden" value="@aux.Before" id="before">

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    document.addEventListener("keydown", keyDown, true);
        function keyDown(e) {
            if (e.keyCode == 39) {
                window.location.href = "/LinkedList/Navigation/" + $('#next').val();
            }
            else if (e.keyCode == 37) {
                window.location.href = "/LinkedList/Navigation/" + $('#before').val();
            }
        }
    </script>
}
