@model Agenda.Models.LinkedList

@{
    ViewData["Title"] = "Contatos";
}

<h1>Contatos ordenados por Email</h1>

<p>
    <a asp-action="Index">Voltar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head.Before)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Head.Next.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{ var aux = Model.Head; }
    @while(aux != null) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => aux.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Contato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Before)
            </td>
            <td>
                @Html.DisplayFor(modelItem => aux.Next.Id)
            </td>
        </tr>
        aux = aux.Next;
    }
    </tbody>
</table>

